@keyframes edit-textarea-create {
    0% {
        opacity: 0;
        height: 0%;
        line-height: 0%;

    }
    100%{
        opacity: 1;
        height: 100%;
        line-height: 100%;
    }
    
}

@keyframes edit-textarea-hide {
    0%{
        opacity: 1;
        height: 100%;
        line-height: 100%;
    }

    100% {
        opacity: 0;
        height: 0%;
        line-height: 0%;

    }
}

#post-create{
    display: none;
}


.post-area{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

#post-button-hide{
    display: none;
    border-radius: 10px;
    background-color: rgb(137, 112, 245);
    color: white;
}

#post-create{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

#new-post-text {
    width: 95%;
    margin: 10px 0px 0px 40px;
    border-radius: 8px;
    border-color: rgb(230, 230, 230);
    

}

#post-submit{
    margin: 0px 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgb(79, 147, 236);
    color: white;
}

#post-new{
    margin: 0px 40px;
    font-size: 30px;
}

.post-btn{
    border-radius: 10px;
    background-color: rgb(49, 6, 240);
    color: white;
}

.form-group{
    margin: 0px;
}

.post-user{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.post-user-href{
    color: #000;
}

.post-time{
    color: rgba(85, 81, 81, 0.459);
    margin-left: 20px;
    font-size: 15px;
}

.post-text{
    margin-left: 20px;
}

.post-likes{
    margin-left: 20px;
    margin-bottom: 10px;
}

#profile-username{
    margin-left: 8%;
    font-weight: bold;
    font-size: 30px;
}

#profile-follows{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
}

#profile-followers{
    margin-right: 30px;
    
}



#profile-buttons{
    display: flex;
    margin-left: 5%;
}

.follow-button{
    border: 2px solid rgb(230, 230, 230);
    border-radius: 4px;
    padding: 5px;
}

.like-img{
    height: 15px;
    width: 15px;
    margin-right: 3px;
}

.post-edit{
    margin-left: 20px;
}

.edit-textarea {
    padding: 5px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-color: rgb(230, 230, 230);
    animation-name: edit-textarea-create;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.post-edit{
    background-color: rgb(245, 244, 237);
    transition: all 0.5s;
    border-radius: 10px;
    width: 40px;
    text-align: center;
}

.post-edit:hover {
    background-color: rgb(241, 214, 243);
    
}