{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
    <button class="post-btn" id="post-button">New Post</button>
    <button id="post-button-hide">Cancel</button>
    <div id="post-create">
        <div class="form-group">
            <b><a id="post-new">New Post</a></b>
        </div>
        <form id="post-form">  
            <div class="form-group">  
                <textarea id="new-post-text" placeholder="New post"></textarea>
            </div>
            <div class="form-group">  
            <input id="post-submit"  type="submit" value="Post">
            </div>
        </form>
    </div>
    
    {% for post in posts %}
    <div class="post-area" id="{{post.id}}">
        <div class="post-user"><a class='post-user-href' href="{% url 'user_profile' post.create_by_user.id %}">{{ post.create_by_user.username }}</a></div>
        {% if current_user == post.create_by_user %}
        <div class="post-edit" >Edit</div>
        {% endif %}
        <div class="post-text">{{ post.text }}</div>
        <div class="post-likes"><img class="like-img" src="/static/network/like2.png">{{ post.number_of_likes }}</div>
        <div class="post-time">{{ post.timestamp }}</div>
        
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/twiter.js' %}"></script>
{% endblock %}